.bat {
	width: 8%;
	margin-top: 20px;
	margin-left: 15px;
}
p {
	font-size: 42px;
	font-weight: bold;
	margin-left: 100px;
	color: darkorange;
	text-shadow: -11px 3px 8px rgba(22,60,14,0.75);
	transform: rotate(-10deg);
	font-family: 'Shadows Into Light', cursive;
}
.ghost {
	width: 10%;
	margin-top: 250px;
	margin-left: 950px;
	position: relative;
	animation: mymove 5s infinite;
}
@keyframes mymove {
	from {top: 0px;}
	to {top: 150px;}
}
.witch {
	width: 15%;
	margin-top: 150px;
	margin-left: 1150px;
	transform: rotate(15deg);
}
.cat {
	width: 7%;
}
.pumpkin {
	width: 5%;
	transform: translate(50%);
}