body {

	background: url(images/halloween.jpg) no-repeat   cover;
	height: vh;
	width: 100vw;
	overflow: hidden;
	background-color: darkred;
}

.bat {
	width: 8%;
	position: absolute;
	top: 100px;
	left: 100px;
}
p {
	font-size: 42px;
	font-weight: bold;
	margin-left: 100px;
	color: darkorange;
	text-shadow: -11px 3px 8px rgba(22,60,14,0.75);
	transform: rotate(-10deg);
	font-family: 'Shadows Into Light', cursive;
}
.ghost {
	width: 10%;
	left: 1000px;
	position: absolute;
	animation: mymove 7s infinite;
}
@keyframes mymove {
	0% {bottom: 0px;}
	45% {bottom: 200px;}
	75% {bottom: 90px}
	100% {bottom: 150px;}
}

.witch {
	width: 15%;
	top: 350px;
	left: 1000px;
	transform: rotate(15deg);
	position: relative;
	animation: fly 10s infinite;
}

@keyframes fly {
	from {left: 1800px}
	to {left: -300px}
}


.cat {
	width: 7%;
}
.pumpkin {
	width: 5%;
	transform: translate(50%);
}