.bat {
	width: 8%;
	margin-top: 20px;
	margin-left: 15px;
}
.ghost {
	width: 10%;
	margin-top: 250px;
	margin-left: 950px;
}
.witch {
	width: 15%;
	margin-top: 150px;
	margin-left: 1150px;
}
.cat {
	width: 7%;
}
.pumpkin {
	width: 5%;
}